@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
	font-family: 'Quicksand', sans-serif;
}

header{
    top: 0px;
}

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    position: fixed;
}

.logo{
    font-size: 2rem;
    font-weight: 900;
    margin: 0 5%;
    font-family: poppins,sans-serif;;
    letter-spacing: 3px;
    color: #37acfa;
}

nav ul{
    display: flex;  
    margin: 0px 90px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.9rem;
    display: block;
    color: rgb(123, 119, 119);
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.5px;
}

nav .button{
    font-size: 19px;
    font-weight: 900;
    margin: 0 5%;
    padding: 7px 15px;
    color: white;
    background-color: #37acfa;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
}

nav .button:hover{
    background-color: #296f9dda;
    cursor: pointer;
    transition: 0.4s;
    font-size: 22px;
}

nav ul li a:hover{
    color: #37acfa;
    background-color: white;
    transition: 0.4s;
}
nav ul li a.active {
    color: white;
    background-color: #37acfa;    
}

#nav-button {
    display: none;
}

label{
    display: none;
}

label:hover{
    color: #37acfa;
}

/* hamburger menu */
nav .menu-toggle {
    color: #37acfa;
    float: right;
    cursor: pointer;
    padding-right: 40px;
}

/* ------------ Home ------------ */
#home{
    height:100vh;
    width: 100%;
    background-image: url(img/contactbg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

#home .imgbg{
    background-color: rgba(67, 87, 113, 0.318);
    height: 100%;
}

#home .container{
    font-family: 'montserrat', sans-serif;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#home .img-item img{
    width: 550px;
    filter: drop-shadow(5px 5px 15px gray);
}

#home .text-item{
    width: 550px;
    padding: 0 20px;
	
}

#home .text-item h1{
    font-family: 'Quicksand', sans-serif;
	border-radius: 999px;
    text-align: left;
    font-size: 4rem;
    letter-spacing: 0.8px;
    line-height: 4rem;
    color: white;
    padding-top: 30px;
}

#home .text-item span{
    font-size: 4rem;
    color:#37acfa;
}

#home .text-item button{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 10%;
    padding:  10px;
    color: white;
    background-color: #37acfa;
    border: none;
    border-radius: 50px;
    text-align: left;
}

#home .text-item button:hover{
    background-color: #296f9dda;
    cursor: pointer;
    transition: 0.8s;
    font-size: 20px;

}

#home .container p{
	font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 600;
    text-align: left;
    font-size: 1.2rem;
}

/* ------------ About ------------ */
#about{
    padding: 50px;
    height: 20%;
    display: flex;
    justify-content: center;
}

#about .container{
    text-align: center;
    padding: 5px;
    height: 100%;
    margin: 35px;
    color: white;
    /* text-shadow: 1.3px 1.3px 4px#043250; */
    font-weight: 600;
}

#about h1{
    font-size: 2.2rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
	color: #white;
    background-color: #1a98ec;
    padding: 5px;
}

/* #about hr {
    border-style: inset;
    display: block;
    border-width: 2px;
    color: black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
} */

#about p{
    color: black;
    padding: 24px 0;
    font-size: 1.2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#about p span{
    font-size: larger;
    color: #1f9deb;
    line-height: rem;
}
/* end about */


/* ------------ Product ------------ */
#product{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
	background-color: #f1f1f1;
}

#product .container{
    padding: 50px 0;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#product .text-item{
    margin: 40px;
}

#product h1{
    font-size: 2.2rem;
    color: #1a98ec;
}

#product h3{
    font-size: larger;
}

#product .container-card{
    margin: auto;
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#product .card{
    background-color: white;
    width: 230px;
    height: 230px;
    margin: 9px;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0.5px solid rgba(255, 255, 255, 0.267);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: auto;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    box-shadow: 1px 2px 4px #37acfa8e;
    cursor: pointer;
}

#product .card img{
    width : 120px;
    height : 120px;
    margin: 10% 0 6% 0;
}

#product .card:hover{
    border: 0.5px solid rgba(255, 255, 255, 0.267);
    background-color: #c0d3d324;
    transition:  0.3s;
    transition-timing-function: ease-in-out;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 1.5px 2.5px 4.5px #37acfa;
}

#product .card span{
    font-size: 40px;
    margin: auto;
}

/* ------------ contact ------------ */
#contact{
    width: 100%;
    background-image: url(img/contactbg.jpeg);
}

#contact .container{
    text-align: center;
    padding-bottom: 70px;
}

#contact .img-bg{
    background-color: rgba(67, 87, 113, 0.61);
    background-size: cover;
}

#contact .text-item{
    padding: 70px 0 30px 0;
    text-align: center;
}

#contact h1{
    font-size: 2.2rem;
    color: #37acfa;
}

#contact h3{
    font-size: larger;
    color: white;
}

#contact .container-card{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
}

#contact .card{
    height: 450px;
    width: 290px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    transition: margin-top 1s;
}

#contact .card:hover{
    margin-top: -4px;
    cursor: pointer;
}

#contact .card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 50%;
}

#contact .card h1{
    font-size: 30px;
    margin: 10px;
}

#contact .card p{
    margin: 10px;
    font-weight: 600;
}

#contact a{
    text-decoration: none;
    color: black;
}

#contact .card h2{
    margin-top: 20%;
    line-height: 33px;
    background-color: rgba(0, 128, 0, 0.76);
    color: white;
}

#contact h2{
    font-size: 19px;
}

/* ------------ Footer ------------ */
footer{
    text-align: center;
}

footer p{
    color: #434344;
    margin: 6px;
    font-weight: 600;
}

@media screen and (max-width: 860px){

    nav .logo{
        margin: 0 5%;
    }

    nav button{
        margin: 0 5%;
    }

    nav{
        display: block;
    }

    nav .navlinks ul{
        display: block;
        background-color: #fdfeff77;
        height: 100%;
        margin: 0px;
    }
    
    nav .button{
        font-size: 22px;
        padding: 5px 10px;
        margin: 7px !important;
        background-color: #37acfa;
    }

    label{
        display: block;
        position: absolute;
        font-size: 24px;
        padding: 10px;
        right: 2%;
        cursor: pointer;
    }

    nav #nav-button:checked~.navlinks{
        display: none;
        max-height: 100%;
        transition: all 3s ease-out;
    }

    #home .container{
        flex-direction: column;
        width: 100%;
    }

    #home .text-item{
        padding: 0 40px !important;
        width: 100% !important;
    }

    #home img{
        width: 330px !important;
        margin-top: 80px;
    }

    #home .text-item h1{
        font-size: 60px !important;
        padding-top: 0px !important;
    }

    #home .text-item span{
        font-size: 65px !important;
    }

    #home .text-item p{
        display: none;
    }

    #about{
        padding: 0px 0px;
    } 
}

@media screen and (max-width: 600px){
    nav{
        background-color: white;
        /* position: fixed; */
        display: block;
    }

    nav .navlinks ul{
        display: block;
        background-color: #fdfeff77;
        height: 100%;
        margin: 0px;

    }
    
    nav .button{
        font-size: 22px;
        padding: 5px 10px;
        margin: 7px !important;
        background-color: #37acfa;
    }

    label{
        display: block;
        position: absolute;
        font-size: 24px;
        padding: 10px;
        right: 2%;
        cursor: pointer;
    }

    nav #nav-button:checked~.navlinks{
        display: none;
        max-height: 100%;
        transition: all 3s ease-in-out;
    }

    /* #home{
        width: 100% !important;
    } */

    #home .container{
        flex-direction: column;
        width: 100% !important;
    }

    #home .text-item{
        padding: 0 40px !important;
        width: 100% !important;
    }

    #home img{
        width: 330px !important;
    }

    #home .text-item h1{
        font-size: 60px !important;
        padding-top: 0px !important;
    }

    #home .text-item span{
        font-size: 65px !important;
    }

    #home .text-item p{
        display: none;
    }

    #about{
        padding: 0px ;
    }

    #about p{
        font-size: 1.2rem !important;
        padding: 20px !important;
    }

    #product .container-card{
        width: 100% !important;
    }

    #product .container .card{
        height: 150px;
        width: 150px;
    }

    #product .card img{
        width : 100px !important;
        height : 100px !important;
    }

    #contact{
        height: 100% !important;
        width: 100%;
    }

    footer p{
        font-size: 14px;
    }
}